@charset "ISO-8859-1";
body
{
    background: url(room2.jpeg);
    background-size: cover;
    
}

.loginbox
{
    
    width: 320px;
    height: 470px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    
    
} 

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 23px;
    
}

.loginBox p
{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
input
{
	 border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    width: 250px;
}

input:focus::placeholder
{
	color: transparent;	
}

input::placeholder
{
	
	transition: color 0.3s ease;
}

input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #F54455;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    width: 250px;
    
    
}

input[type="submit"]:hover
{
    cursor: pointer;
    background: #4EF360;
    color: #000;
    
}

a
{
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #c0c0c0; 
    margin-left: 50px;
}

a:hover
{
    color: #F54455;
    
}


